<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>APHODS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">APHODS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li> -->
            </ul>
            <ul class="navbar-nav right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= count %>/<%= limit %> Projects Hosted</a>
                </li>
                <% if (userid) { %>
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= userid %> (<%= name %>)</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <form class="main-page" action="/" method="POST">
        <div class="project-header">APHODS</div>
        <div class="project-desc">Automated Project Hosting on Docker Server.</div>
        <div class="form-group required">
            <label class="control-label">Select the type of config.</label><br>
            <label class="radio-inline"><input type="radio" id="optradiodockerfile" name="optradio" value="dockerfile" onChange="optradioChanged()" checked>Dockerfile Link</label>
            <label class="radio-inline"><input type="radio" id="optradiodockerimage" name="optradio" value="dockerImage" onChange="optradioChanged()">Public Docker Image</label>
        </div>
        <div class="form-group required d-none" id="dockerImageGroup">
            <label for="dockerImage" class="control-label">Public Docker Image</label>
            <input type="text" name="dockerImage"  class="form-control" id="dockerImage" aria-describedby="dockerImageHelp" placeholder="Enter Docker Image Name.">
            <small id="dockerImageHelp" class="form-text text-muted">Docker Image is required to setup the container on the server.</small>
        </div>
        <div class="form-group required" id="dockerfileGroup">
            <label for="dockerfileLink" class="control-label">Dockerfile Link</label>
            <input type="url" name="dockerfileLink"  class="form-control" id="dockerfileLink" aria-describedby="dockerfileLinkHelp" placeholder="Enter Dockerfile Link." required>
            <small id="dockerfileLinkHelp" class="form-text text-muted">Dockerfile is required to setup the container on the server.</small>
        </div>
        <div class="form-group required">
            <label class="control-label">Select running mode during "docker run": </label><br>
            <label class="radio-inline"><input type="radio" id="optradiodit" name="optradioRunMode" value="dit" checked>Detached interactive (-dit)</label>
            <label class="radio-inline"><input type="radio" id="optradiod" name="optradioRunMode" value="d">Detached (-d) only</label>
        </div>
        <div class="form-group required" id="left">
            <label for="subdomain" class="control-label">Subdomain</label>
            <div class="input-group">
                <input type="text" class="form-control" name = "subdomain" onkeyup="checkSubdomainAvailable()" id="subdomain" aria-describedby="subdomainHelp" placeholder="Enter subdomain name." required>
                <span class="input-group-addon domain-name">.iitmandi.co.in</span>
                <div class="invalid-feedback">
                    This subdomain is not available.
                </div>
                <div class="valid-feedback">
                    This subdomain is available.
                </div>
            </div>
            <small id="subdomainHelp" class="form-text text-muted">The project is hosted at the given subdomain.</small>
        </div>
        <div class="form-group required" id="right">
            <label for="port" class="control-label">Port Number</label>
            <input type="number" name="port" class="form-control" onkeyup="imposeMinMax()" id="port" aria-describedby="portHelp" placeholder="Enter Port Number." required>
            <div class="invalid-feedback">
                Port number should be in the range 1-65536.
            </div>
            <div class="valid-feedback">
                This port number is good.
            </div>
            <small id="portHelp" class="form-text text-muted">The project is hosted at the given port on the server. </small>
        </div>
        <div class="form-group submit-btn-group">
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>     
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var timer = null;
        function checkSubdomainAvailable() {
            document.getElementById("subdomain").classList.remove("is-invalid");
            document.getElementById("subdomain").classList.remove("is-valid");
            clearTimeout(timer);
            timer = setTimeout(() => {
                var cur = document.getElementById("subdomain").value;
                if (cur != ""){
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", "/dns/"+cur, false);
                    xhttp.send();
                    var isAvailable = (xhttp.responseText == "true")
                    if (isAvailable){
                        document.getElementById("subdomain").classList.remove("is-invalid");
                        document.getElementById("subdomain").classList.add("is-valid");
                    } else {
                        document.getElementById("subdomain").classList.remove("is-valid");
                        document.getElementById("subdomain").classList.add("is-invalid");
                    }
                }
            }, 1500);
        }
        function imposeMinMax() {
            const min=1;
            const max=65536;
            const cur_value = document.getElementById("port").value;
            if (cur_value != ""){
                if (parseInt(cur_value) < min || parseInt(cur_value) > max) {
                    document.getElementById("port").classList.remove("is-valid");
                    document.getElementById("port").classList.add("is-invalid");
                } else {
                    document.getElementById("port").classList.remove("is-invalid");
                    document.getElementById("port").classList.add("is-valid");
                }
            } else {
                document.getElementById("port").classList.remove("is-valid");
                document.getElementById("port").classList.remove("is-invalid");
            }
        }
        function optradioChanged(){
            if (document.getElementById('optradiodockerfile').checked) {
                document.getElementById("dockerImageGroup").classList.add("d-none");
                document.getElementById("dockerfileGroup").classList.remove("d-none");
                document.getElementById("dockerImage").required = false;
                document.getElementById("dockerfileLink").required = true;
            } else if(document.getElementById('optradiodockerimage').checked) {
                document.getElementById("dockerfileGroup").classList.add("d-none");
                document.getElementById("dockerImageGroup").classList.remove("d-none");
                document.getElementById("dockerfileLink").required = false;
                document.getElementById("dockerImage").required = true;
            }
        }
    </script>
</body>
</html>